<!DOCTYPE html>
<html lang="en">
<head>
<body>
    <!-- Required meta tags -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'app/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'app/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/js/select.dataTables.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'app/css/vertical-layout-light/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'app/images/favicon.png' %}" />
  </head>

   <!-- plugins:js -->
   <script src="{% static 'app/vendors/js/vendor.bundle.base.js' %}"></script>
   <!-- endinject -->
   <!-- Plugin js for this page -->
   <script src="{% static 'app/vendors/chart.js/Chart.min.js' %}"></script>
   <script src="{% static 'app/vendors/datatables.net/jquery.dataTables.js' %}"></script>
   <script src="{% static 'app/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
   <script src="{% static 'app/js/dataTables.select.min.js' %}"></script>
 
   <!-- End plugin js for this page -->
   <!-- inject:js -->
   <script src="{% static 'app/js/off-canvas.js' %}"></script>
   <script src="{% static 'app/js/hoverable-collapse.js' %}"></script>
   <script src="{% static 'app/js/template.js' %}"></script>
   <script src="{% static 'app/js/settings.js' %}"></script>
   <script src="{% static 'app/js/todolist.js' %}"></script>
   <!-- endinject -->
   <!-- Custom js for this page-->
   <script src="{% static 'app/js/dashboard.js' %}"></script>
   <script src="{% static 'app/js/Chart.roundedBarCharts.js' %}"></script>
   <!-- End custom js for this page-->
 </body>

 {% include 'app/partials/header.html' %}
 
 {% block content %}
  
  

 {% endblock %}

 {% include 'app/partials/footer.html' %}
 
 </html>