<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="description" content="Milana eCommerce HTML Template">
    <meta name="author" content="nikoband">
    <title>Milana eCommerce HTML Template</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'web/images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'web/images/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'web/images/favicons/favicon.ico' %}">
    <link href="{% static 'web/css/vendor.min.css' %}" rel="stylesheet">
    <link href="{% static 'web/css/style.css' %}" rel="stylesheet">
    <noscript id="lazyStyles">
        <link href="{% static 'web/fonts/worksans/style.css' %}" rel="stylesheet">
        <link href="{% static 'web/fonts/icomoon/style.css' %}" rel="stylesheet"></noscript>
    <script>
        let loadLazyStyles = function() {
            let addStylesNode = document.getElementById("lazyStyles");
            let replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        let raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
            window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
        if (raf) raf(function() {
            window.setTimeout(loadLazyStyles, 0);
        });
        else window.addEventListener('load', loadLazyStyles);
    </script>
    <script>
        window.lazySizesConfig = window.lazySizesConfig || {};
        window.lazySizesConfig.expand = 800;
    </script>
</head>
<body>
    {% include 'web/partials/header.html' %}

    {% block content %}

    {% endblock %}

    {% include 'web/partials/footer.html' %}
    {% include 'web/partials/cartmodel.html' %}

    {% if enable_newsletter_pop_up %}
        {% include 'web/partials/newsletter.html' %}
    {% endif %}

    <a class="back-to-top js-back-to-top" href="#" title="Scroll To Top"><i class="icon icn-arrow_up"></i></a>
    <script src="{% static 'web/js/jquery.min.js' %}"></script>
    <script src="{% static 'web/js/vendor.min.js' %}"></script>
    <script src="{% static 'web/js/theme.js' %}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>

