{% load static %}
<div class="modal fade opt-modal" id="addedModal" data-animate-start="fadeIn" data-animate-end="fadeOut">
    <div class="modal-dialog-wrap">
        <div class="modal-dialog">
            <div class="modal-content added">
                <div class="product-added-label">Produst Added To Cart</div>
                <div class="product-item-options mt-1">
                    <div class="product-item-options-close js-close-modal"><i class="icn-close-1"></i></div>
                    <div class="product-item-checkout js-product-checkout"><a href="#" class="btn btn-block js-close-modal">Continue Shopping</a> <a href="#" class="btn mln-btn btn-block">Checkout</a></div>
                </div>
            </div>
        </div>
    </div>
</div>