{% load static %}
<footer>
    <div class="footer-topline container"></div>
    <div class="footer-center-row1 text-center text-md-left">
        <div class="container">
            <div class="row row-v-space-sm">
                <div class="col-md-6 col-lg-3">
                    <div class="footer-logo"><a href="index.html"><img src="{% static 'web/images/logo.png' %}" srcset="images/logo@2x.png 2x" alt="Logo"></a></div>
                    <div class="footer-subscribe-block">
                        <form action="#"><input type="text" class="form-control form-control--sm text-center" placeholder="Your email"> <button class="btn btn-sm btn-block mln-btn" type="button">Subscribe</button></form>
                    </div>
                    <ul class="footer-socials">
                        <li><a href="#"><i class="icn-facebook"></i></a></li>
                        <li><a href="#"><i class="icn-twitter"></i></a></li>
                        <li><a href="#"><i class="icn-instagram"></i></a></li>
                        <li><a href="#"><i class="icn-pinterest"></i></a></li>
                        <li><a href="#"><i class="icn-google-plus"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg collapsed-sm">
                    <h4 class="collapsed-title">SHOP</h4><input type="checkbox" class="collapsed-checkbox" checked="checked"><i class="collapsed-caret"></i>
                    <div class="collapsed-content">
                        <ul class="list-footer">
                            <li><a href="listing.html">Women collection</a></li>
                            <li><a href="listing.html">Men collection</a></li>
                            <li><a href="listing.html">Kids collection</a></li>
                            <li><a href="listing.html">Accessories</a></li>
                            <li><a href="listing.html">Shoes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-lg collapsed-sm">
                    <h4 class="collapsed-title">INFORMATION</h4><input type="checkbox" class="collapsed-checkbox" checked="checked"><i class="collapsed-caret"></i>
                    <div class="collapsed-content">
                        <ul class="list-footer">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contacts.html">Careers</a></li>
                            <li><a href="contacts.html">Affiliate</a></li>
                            <li><a href="lookbook.html">Lookbook</a></li>
                            <li><a href="product.html">Size Guide</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 collapsed-sm">
                    <h4 class="collapsed-title">CUSTOMER HELP</h4><input type="checkbox" class="collapsed-checkbox" checked="checked"><i class="collapsed-caret"></i>
                    <div class="collapsed-content">
                        <ul class="list-footer">
                            <li><a href="contacts.html">Contact Us</a></li>
                            <li><a href="authorization.html">Track orders</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="authorization.html">Returns</a></li>
                            <li><a href="contacts.html">Consultant</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 collapsed-sm">
                    <h4 class="collapsed-title">CONTACTS</h4><input type="checkbox" class="collapsed-checkbox" checked="checked"><i class="collapsed-caret"></i>
                    <div class="collapsed-content">
                        <ul class="list-icons">
                            <li><i class="icn-map-pin"></i>55 Gallaxy Enque, 2568 street,<br>23568 NY</li>
                            <li><i class="icn-phone"></i>+202-555-0186</li>
                            <li><i class="icn-mail"></i><a href="#">milanastore@mn.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bot">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-5">
                    <div class="footer-copyright text-center text-lg-left">© 2020 <a href="#">Milana</a>. All Rights Reserved.<br></div>
                </div>
                <div class="col-12 col-lg mt-10 mt-lg-0">
                    <ul class="list-payment text-center text-lg-right">
                        <li><a href="#"><i class="icn-pay_paypal"></i></a></li>
                        <li><a href="#"><i class="icn-pay_ae"></i></a></li>
                        <li><a href="#"><i class="icn-pay_amazon"></i></a></li>
                        <li><a href="#"><i class="icn-pay_discover"></i></a></li>
                        <li><a href="#"><i class="icn-pay_mc"></i></a></li>
                        <li><a href="#"><i class="icn-pay_visa"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>