{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'app:index' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-basic"
        aria-expanded="false"
        aria-controls="ui-basic"
      >
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Products</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:category_view' %}"
              >Categories</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:products_view' %}"
              >Products</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:brands_view' %}"
              >Brands</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:colors_view' %}"
              >Colors</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:sizes_view' %}"
              >Sizes</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:material_view' %}"
              >Materials</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#form-elements"
        aria-expanded="false"
        aria-controls="form-elements"
      >
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Sales</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:sales_list' %}"
              >Sale </a
            >
          </li>
          
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#charts"
        aria-expanded="false"
        aria-controls="charts"
      >
        <i class="icon-bar-graph menu-icon"></i>
        <span class="menu-title">Purchase</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="charts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="#">Purchase</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#tables"
        aria-expanded="false"
        aria-controls="tables"
      >
        <i class="icon-grid-2 menu-icon"></i>
        <span class="menu-title">Customers</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:customers_view' %}"
              >Customer</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#icons"
        aria-expanded="false"
        aria-controls="icons"
      >
        <i class="icon-contract menu-icon"></i>
        <span class="menu-title">Vendors</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="icons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="#">Vendors</a>
          </li>
        </ul>
      </div>
    </li>
   
  </ul>
</nav>
